
@{
    ViewBag.Title = "MScCal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calculate Your Aggregate</h2>

<form action="/Home/ShowMScAggregate" method="get">
    <table>
        <tr>
            <td>Marks Obtained in BSc or Equivalent: </td>
            <td><input type="text" name="marksObtainedBSc" required /></td>
        </tr>

        <tr>
            <td>Total marks of BSc or Equivalent: </td>
            <td><input type="text" name="totalMarksBSc" required /></td>
        </tr>
        <tr>
            <td>Marks Obtained in Intermediate or Equivalent: </td>
            <td><input type="text" name="marksObtainedInter" required /></td>
        </tr>

        <tr>
            <td>Total marks of Intermediate or Equivalent: </td>
            <td><input type="text" name="totalMarksInter" required /></td>
        </tr>

        <tr>
            <td>Marks Obtained in Matric: </td>
            <td><input type="text" name="marksObtainedMatric" required /></td>
        </tr>

        <tr>
            <td>Total marks of Matric: </td>
            <td><input type="text" name="totalMarksMatric" required /></td>
        </tr>

        <tr>
            <td>Marks Obtained in Entry Test (out of 140)</td>
            <td><input type="text" name="marksObtainedTest" required /></td>
        </tr>


    </table>
    <br />
    <input type="submit" value="Calculate" />
</form>


